.sort-order-button {
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 210px;
    height: 30px;
    color:#000000;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    float: right;
    background-color:#ffffff;
}

.sort-order-button:disabled {
    color: #BDBDBD;
    transition: 0.3s;
}

.sort-order-button:enabled {
    color:#78C2F6;
    transition: 0.3s;
}




.upload-button:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 8px;
    left: 14px;
    background: url("./images/arrow.png") no-repeat;
}