.upload-button {
    position: relative;
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    color:#ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(116, 187, 253, 0.3);
    font-family: "Roboto", serif;
    font-weight: 500;
    display: inline-block;
    padding: 0 2px 0 20px;
    margin-left: 10px;
}

.upload-button:disabled {
    background-color: #78C2F6;
    transition: 0.3s;
}

.upload-button:enabled {
    background-color: #74BBFD;
    transition: 0.3s;
}

.upload-button:hover:enabled {
    background-color:#49A7FF;
}
.upload-button:active {
    background-color:#49A7FF;
}

.upload-button:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    margin-right: 10px;
    top: 8px;
    left: 21px;
    background: url("./images/cloud.svg") no-repeat;
}
