.form__button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    background-color: #50d5ad;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    font-family: sans-serif,"Roboto";
    font-weight: 500;
}

.form__button:disabled {
    background-color: #bdbdbd;
}

.form__icon {
    background: url("icons/create-btn-icon.png") no-repeat;
}