.form__button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    /*background: url("icons/create-btn-icon.png") no-repeat;*/
    background-color: #50d5ad;
    display: inline-block;
    color: #282c34;
}

.form__button:disabled {
    background-color: #bdbdbd;
}