
.side-bar {
    width: 100%;
}

.side-bar__list {
    margin: 0;
    list-style: none;
}

.side-bar__item {

}

.element {
    font-size: 18px;
    color: #979797;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

.element__icon {
    background: top left no-repeat;
    background-size: 20px 20px;
    padding-left: 26px;
    color: #979797;
    font-family: "Roboto", serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.element__todo {
    background-image: url("images/todo_gray.svg");
}

.element__done {
    background-image: url("images/done_gray.svg");
}

element-todo_active {
    color: #73baff;
    background-image: url("images/todo_blue.svg") !important;
}

element-done_active {
    color: #73baff;
    background-image: url("images/done_blue.svg") !important;
}


