.element_active .element {

}

.element__text {
    display: inline-block;
    font-size: 18px;
    color: #979797;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    width: calc(100% -  30px);
    padding-left: 10px;
    margin: 0;
}

.element__icon {
    display: inline-block;
    width: 20%;
    min-width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}