.article__description {
    padding: 1em 0;
    display: inline-block;
    font-size: 15px;
    color: #303030;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    margin: 0;
    width: 85%;
}
