.main {
    box-sizing: border-box;
    width: 100%;
    /*max-width: 960px;*/
    padding: 0 10px;
    margin: 0;
}

.main__side-bar {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0 0;
    width: 11%;
    margin: 0 2%;
}

.main__content {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    padding: 15px 10px 0;
    background-color: #fff;
    margin-right: 5%;
}

.main__task-list {

}