.input {
    outline: none;
}

.form__input {
    font-size: 15px;
    color: #939393;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    margin: 0 5px 20px 0;
    width: 398px;
    padding: 0 0 5px 0;
    border-width: 0 0 1px;
    border-color: #45d3a8;
    border-bottom: 1.3px solid #45d3a8;
}