
.article__trash {
    visibility: hidden;
    width: 10%;
    background: url("icons/trash.png") no-repeat;
}

.article__trash:hover{
    background: url("icons/trash_red.png") no-repeat;
}

.article__galka {
    visibility: hidden;
    background: url("icons/done_task_gray.png") no-repeat;
}

.article__galka:hover {
    background: url("icons/done_task_gray.png") no-repeat;
}

.article {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.article:hover .article__icon {
    visibility: visible;
}

