.header {
    background: linear-gradient(154deg, #96efc0 0%, #73baff 100%);
    height: 61px;
    width: 100%;
}
.header__content {
    box-sizing: border-box;
    max-width: 1366px;
    padding: 18px 0 0 10px;
    margin: 0 auto;
}
.header__logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-left: 61px;
    padding-top: 10px;
}

.header__username {
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 500;
    color: #ffffff;
    margin: 2px 80px 0 0;
    text-decoration: none;
    float:right;
}